@model IEnumerable<IntrudeRecordEntity>

<div class="text-center">
    <h1 class="display-4">入侵紀錄</h1>
</div>

<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>入侵時間</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.IntrudeTime.ToUniversalTime()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        init(@ViewBag.MaxId);
    </script>
}